<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htkapp.modules.merchant.pay.dao.OrderBuyPackageContentMapper">

    <sql id="Base_Column_List">
        id, product_name, price, original_cost, product_id, package_id
    </sql>
    
    <insert id="insertOrderBuyPackageContentByGroupBuyOrderDAO">
        insert into order_buy_package_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productName != null">
                product_name,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="originalCost != null">
                original_cost,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="packageId != null">
                package_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="productName != null">
                #{productName},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="originalCost != null">
                #{originalCost},
            </if>
            <if test="productId != null">
                #{productId},
            </if>
            <if test="packageId != null">
                #{packageId},
            </if>
            <if test="orderId != null">
                #{orderId},
            </if>
        </trim>
    </insert>
    
    <select id="getOrderBuyPackageContentListDAO" resultType="OrderBuyPackageContent">
        select
        <include refid="Base_Column_List" />
        from order_buy_package_content
        where order_id = #{0}
    </select>
</mapper>