<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htkapp.modules.merchant.groupBuy.dao.BuyPackageProductMapper">

    <sql id="Base_Column_List">
        id, product_name, price, p_type, product_id, shop_id
    </sql>

    <!-- ========================接口开始============================ -->
    <select id="getBuyPackageProductListByShopIdDAO" resultType="BuyPackageProduct">
        select
        <include refid="Base_Column_List"/>, gmt_create
        from buy_package_product
        where shop_id = #{0}
    </select>
    <insert id="insertBuyPackageProductByShopIdDAO">
        insert into buy_package_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productName != null">
                product_name,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="pType != null">
                p_type,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="productName != null">
                #{productName},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="pType != null">
                #{pType},
            </if>
            <if test="productId != null">
                #{productId},
            </if>
            <if test="shopId != null">
                #{shopId},
            </if>
        </trim>
    </insert>
    <delete id="deleteAddProductDAO" >
        delete from buy_package_product
        where id = #{0}
    </delete>
    <!-- ========================接口结束============================ -->


</mapper>