a {
    color: #1E9FFF;
}

a:hover {
    cursor: pointer;
}

.content {
    padding: 15px;
}

.content-top {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 8px;
}

.content-down {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    padding: 15px;
}

.content-end {
    background-color: #fff;
    padding: 5px;
    margin-top: 8px;
}

.top-condition {
    padding: 8px 0;
}

.top-condition > label {
    float: left;
    font-size: 15px;
    width: 80px;
    height: 30px;
}

label.userPhoneLabel {
    line-height: 35px;
}

.top-condition > .block-input > .radio-item {
    display: inline-block;
}

.top-condition > .block-input > input {
    border-radius: 2px;
    border: 1px solid #e2e2e2;
    height: 30px;
    padding-left: 10px;
    width: 200px;
}

.clearfix:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}




