<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htkapp.modules.merchant.shop.dao.RegisterApplyMapper">

    <sql id="Base_Column_List">
        id, shop_id, account_shop_id,
    </sql>
    
    <insert id="insertApplyByIdDAO" >
        insert into
        register_apply(shop_id, account_shop_id)
        values
        (#{shopId}, #{accountShopId})
    </insert>
    <select id="getRegisterApplyListDAO" resultType="RegisterApply">
        select
        account_shop.phone, account_shop.id as account_shop_id, account_shop.identity, shop.shop_name, shop.address, register_apply.gmt_create as applyTime
        from register_apply left join shop on register_apply.shop_id = shop.shop_id
        left join account_shop on shop.account_shop_id = account_shop.id
        where register_apply.state = #{stateId} order by ${orderDesc}
    </select>
    <delete id="deleteByIdDAO">
        delete from register_apply
        where account_shop_id = #{0}
    </delete>
</mapper>