<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htkapp.modules.merchant.shop.dao.ShopSuggestMapper">
    
    <insert id="insertSuggestContentByShopIdDAO">
        insert into shop_suggest
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">
                content,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="content != null">
                #{content},
            </if>
            <if test="shopId != null">
                #{shopId},
            </if>
        </trim>
    </insert>
    
</mapper>